* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.hello-half {
  overflow: hidden;
}
.img-comp-container {
  position: relative;
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}
.img-comp-img img {
  display:block;
  vertical-align:middle;
}
.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  opacity: 0.5;
  border-radius: 50%;
}
